<!-- <h3 id="title">GHI CHÚ CÁ NHÂN</h3>
<a routerLink="/home" class="btn btn-sm btn-primary">Trở về trang chủ <i class="fas fa-home"></i></a> -
<a routerLink="/to-do-list/admin" class="btn btn-sm btn-primary">Quản lí ghi chú <i class="fas fa-chevron-circle-right"></i></a>
<div class="row d-flex justify-content-center" id="work-list">
  <div class="col-8" *ngFor="let data of datas">
    <div class="card">
      <div [ngSwitch]="data.level_id">
        <div *ngSwitchCase="1">
          <div class="card-header bg-info"><b>{{ data.title }}</b></div>
        </div>
        <div *ngSwitchCase="2">
          <div class="card-header bg-success"><b>{{ data.title }}</b></div>
        </div>
        <div *ngSwitchCase="3">
          <div class="card-header bg-warning"><b>{{ data.title }}</b></div>
        </div>
        <div *ngSwitchDefault>
            <div class="card-header bg-danger"><b>{{ data.title }}</b></div>
        </div>
      </div>
      <div class="card-body">
        <p [innerHTML]="data.content"></p>
        <p><b><i>Deadline:</i></b> {{ data.date | date:'dd/MM/yyyy' }}</p>
        <p><b><i>Tình trạng:</i></b>{{ data.level_name}}</p>
      </div>
    </div>
  </div>
</div> -->
<h4 class="title">to do list</h4>
<span>Chọn ngày</span> 
<input type="date" name="" id="">
<hr>
<table class="table table-bordered">
  <td>Ngày: 20-11-2019</td>
  <td>Công việc đã làm</td>
  <td>Công việc chưa làm</td>
  <td>Hiệu suất</td>
</table>
<hr>
<div class="row">
  <div class="table-responsive table_todolist">
      <table class="table table-bordered table-hover">
        <thead class="bg-info text-white">
          <tr class="tr_border">
            <th>Hoàn thành</th>
            <th style="width: 40%;">Nội dung</th>
            <th>Ngày bắt đầu</th>
            <th>Ngày kết thúc</th>
            <th>Mức độ</th>
            <th>Tiến trình</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="table_checkbox"><input type="checkbox" name="" id=""></td>
            <td>Công việc 1 a dá da sd á d huh uhuah uhui huhu huihu d đa a dá dá d á d d</td>
            <td>30-10-2019</td>
            <td>30-10-2019</td>
            <td><span class="text-success">Hoàn thành</span></td>
            <td class="table_proccess">
              <div class="progress" style="height:100%;">
                  <div class="progress-bar" style="width:34%;height:100%">34%</div>
              </div>
            </td>
          </tr>
          <tr class="tr_border">
            <td class="table_checkbox"><input type="checkbox" name="" id=""></td>
            <td>Công việc 1</td>
            <td>30-10-2019</td>
            <td>30-10-2019</td>
            <td><span class="text-danger">Hoàn thành</span></td>
            <td class="table_proccess">
              <div class="progress" style="height:100%;">
                  <div class="progress-bar" style="width:15%;height:100%">15%</div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="table_checkbox"><input type="checkbox" name="" id=""></td>
            <td>Công việc 1</td>
            <td>30-10-2019</td>
            <td>30-10-2019</td>
            <td><span class="text-warning">Hoàn thành</span></td>
            <td class="table_proccess">
              <div class="progress" style="height:100%;">
                  <div class="progress-bar" style="width:90%;height:100%">90%</div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>