<div class="container">
    <nz-spin [nzSpinning]="isLoading">
        <nz-card nzTitle="Thay đổi thông tin">
            <form nz-form>
                <nz-form-item>
                    <nz-form-label nzFor="name">Tên</nz-form-label>
                    <nz-form-control>
                        <input nz-input name="name" type="text" id="name" [(ngModel)]="name">
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label nzFor="email">Email</nz-form-label>
                    <nz-form-control>
                        <input nz-input name="email" type="email" id="email" [(ngModel)]="email" readonly>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label nzFor="birthday">Ngày sinh</nz-form-label>
                    <nz-form-control>
                        <nz-date-picker [(ngModel)]="birthday" name="birthday"></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label nzFor="address">Địa chỉ</nz-form-label>
                    <nz-form-control>
                        <input nz-input name="address" type="text" id="address" [(ngModel)]="address">
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label nzFor="phone">Điện thoại</nz-form-label>
                    <nz-form-control>
                        <input nz-input name="phone" type="text" id="phone" [(ngModel)]="phone">
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label nzFor="file">Hình đại diện</nz-form-label>
                    <nz-form-control>
                        <input nz-input name="file" type="file" id="file" (change)="onFileSelected($event)">
                    </nz-form-control>
                </nz-form-item>

                <button nz-button nzType="primary" (click)="handleChangeInfo()">Cập nhật thông tin</button>
            </form>
        </nz-card>
    </nz-spin>
</div>