#card-form-login {
    margin-top: 10px; 
    width: 50%; 
    border-bottom-right-radius: 3%; 
    border-bottom-left-radius: 3%;
}

.text-login {
    color: #563D7C;
    font-weight: bold;
}

input {
    border: none;
    outline: none !important;
    background: none;
    border-bottom: 1px solid #dddddd;
}

input:focus{
    box-shadow:none;
}

.bg-info {
    background-color: #563D7C !important;
}

/* input:hover {
	border: 3px #563D7C solid;
} */
.card {
    border: 1px #563D7C solid; 
}

#btn-login {
    background-color: #563D7C;
}

a {
	color: #563D7C;
	font-weight: bold;
}

a:hover {
	color: red;
}