<div class="container">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <h2>Login to system</h2>
            </div>
            <form #form_login="ngForm" (keyup.enter)="handleLogin()">
                <input type="text" id="login" class="fadeIn second" [(ngModel)]="username" email required
                    name="username" placeholder="Username/ Tên tài khoản" />
                <input type="password" id="password" class="fadeIn third" [(ngModel)]="password" required
                    name="password" placeholder="Password/ Mật khẩu" />
                <button type="button" class="btn btn-info fadeIn fourth" [disabled]="form_login.invalid" type="button"
                    (click)="handleLogin()">
                    Login / Đăng nhập
                </button>
            </form>
            <div id="formFooter">
                <a class="underlineHover" routerLink="/sign-up">Sign up?</a><br>
                <a class="underlineHover" data-target="#exampleForgot" data-toggle="modal">Forgot password?</a>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleForgot" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Quên mật khẩu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="form-group">
                            <label for="">Email</label><br>
                            <input type="text" class="fadeIn first" name="forgotEmail" [(ngModel)]="forgotEmail">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="hanleForgotPass()" data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>