<div class="container">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <h2>Login to system</h2>
            </div>
            <form #form_login="ngForm">
                <input type="text" id="login" class="fadeIn second" [(ngModel)]="username" email required name="username"
                    placeholder="Username/ Tên tài khoản" />
                <input type="password" id="password" class="fadeIn third" [(ngModel)]="password" required name="password"
                    placeholder="Password/ Mật khẩu" />
                <button 
                    type="button" 
                    class="btn btn-info fadeIn fourth" 
                    [disabled]="form_login.invalid" 
                    type="button" 
                    (click)="handleLogin()" >
                    Login / Đăng nhập
                </button>
            </form>
            <div id="formFooter">
                <a class="underlineHover" routerLink="/sign-up">Sign up</a>
            </div>
        </div>
    </div>
</div>