<!-- Quyền -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAddPermission">
  Add permission
</button>
<hr>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Permission</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let permisison of permisisons">
      <td>{{ permisison.key }}</td>
      <td>{{ permisison.name }}</td>
      <td>{{ permisison.created_at }}</td>
      <td>{{ permisison.updated_at }}</td>
      <td>
        <button class="btn btn-sm btn-success" (click)="handleShowPermission(permisison.key)" data-toggle="modal" data-target="#modalEditPermission"><i class="fas fa-edit"></i> Edit</button>
        <button class="btn btn-sm btn-danger" (click)="handleDeletePermission(permisison.key)"><i class="fas fa-trash"></i> Delete</button>
        <button class="btn btn-sm btn-primary" (click)="handleDetailPermission(permisison.key)" data-toggle="modal" data-target="#modalDetailPermission"><i class="fas fa-info-circle"></i> Detail</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- The Modal -->
<!-- Add permisison -->
<div class="modal fade" id="modalAddPermission">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add permission</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Permission name</label>
            <input type="text" class="form-control" [(ngModel)]="txtPermissionName"
              [ngModelOptions]="{standalone: true}">
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="handleAddPermission()" data-dismiss="modal">Add</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>

<!-- Edit permisison -->
<div class="modal fade" id="modalEditPermission">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit permission</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>Permission key</label>
            <input readonly type="text" class="form-control" [(ngModel)]="txtPermissionKeyEdit"
              [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label>Permission name</label>
            <input type="text" class="form-control" [(ngModel)]="txtPermissionNameEdit"
              [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label>Created at</label>
            <input readonly type="text" class="form-control" [(ngModel)]="txtPermissionCreatedEdit"
              [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label>Updated at</label>
            <input readonly type="text" class="form-control" [(ngModel)]="txtPermissionUpdatedEdit"
              [ngModelOptions]="{standalone: true}">
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="handleEditPermission()" data-dismiss="modal">Edit</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="modalDetailPermission">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Detail permission</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <table class="table"> 
          <thead>
            <tr>
              <th>STT</th>
              <th>User</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{ user.key }}</td>
              <td>{{ user.name }}</td>
              <td [ngSwitch]="user.status">
                <button class="btn btn-success" *ngSwitchCase="1">Active</button>
                <button class="btn btn-dark" *ngSwitchCase="0">Not active</button>
              </td>
            </tr>
          </tbody>      
        </table>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
