<div class="container">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <h2>Sign up</h2>
            </div>
            <form #form_login="ngForm">
                <input type="text" id="name" class="fadeIn second" [(ngModel)]="name" required
                    name="name" placeholder="Họ tên" />
                <input type="email" id="email" class="fadeIn second" [(ngModel)]="email" email required name="email"
                    placeholder="Email" />
                <input type="date" id="birthday" class="fadeIn second" [(ngModel)]="birthday" required name="birthday"
                    placeholder="Birthday/ Ngày sinh" />
                <input type="text" id="address" class="fadeIn second" [(ngModel)]="address" required name="address"
                    placeholder="Address/ Địa chỉ" />
                <input type="text" id="phone" class="fadeIn second" [(ngModel)]="phone" required name="phone"
                    placeholder="Phone/ Điện thoại" />
                <input type="password" id="password" class="fadeIn second" [(ngModel)]="password" required name="password"
                    placeholder="Password/ Mật khẩu" />
                <input type="password" id="re-password" class="fadeIn second" [(ngModel)]="re_password" required name="re_password"
                    placeholder="Password/ Nhập lại mật khẩu" />
                <button type="button" class="btn btn-info fadeIn fourth" 
                    [disabled]="form_login.invalid || form_login.password != form_login.re_password" type="button"
                    (click)="handleSignup()">
                    Sign up / Đăng kí
                </button>
            </form>
            <div id="formFooter">
                <a class="underlineHover" routerLink="/login">Login</a>
            </div>
        </div>
    </div>
</div>