<h4 class="title">quản lí chi tiêu</h4>
<div class="col" style="margin: 0; padding: 0%;">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Thêm mới
                </mat-panel-title>
                <mat-panel-description>
                    Thêm thông tin chi tiêu mới
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="mt_form_add_todolist" (keyup.enter)="handleAddData()">
                <mat-form-field>
                    <mat-label>Nội dung chi tiêu</mat-label>
                    <textarea required matInput [(ngModel)]="content" placeholder="Nhập tiêu đề công việc"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Số tiền</mat-label>
                    <input type="number" required matInput [(ngModel)]="money" placeholder="Nhập nội dung công việc" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Ngày thực hiện</mat-label>
                    <input matInput required name="date" [(ngModel)]="date" [matDatepicker]="picker1"
                        placeholder="Ngày thực hiện">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Danh mục</mat-label>
                    <mat-select required [(ngModel)]="category">
                        <mat-option *ngFor="let item of categories" [value]="item.key">
                            {{item.name}} - {{item.typeString}} - {{item.wallet.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <button mat-stroked-button color="primary" class="my-btn" (click)="handleAddData()">Thêm chi tiêu
                mới</button>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<div class="row" style="margin-top:2%">
    <div class="col-lg-4 col-sm-12">
        <div class="card"
            style="padding-left: 20px;padding-right: 20px;margin: 0% !important; margin-bottom: 2% !important;">
            <mat-form-field>
                <input matInput [(ngModel)]="dateFilterFrom" [matDatepicker]="pickerFrom"
                    placeholder="Choose a date from">
                <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                <mat-datepicker #pickerFrom></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="dateFilterTo" [matDatepicker]="pickerTo" placeholder="Choose a date to">
                <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                <mat-datepicker #pickerTo></mat-datepicker>
            </mat-form-field>
            <mat-radio-group aria-labelledby="example-radio-group-label" [(ngModel)]="typeFilter">
                <mat-radio-button class="example-radio-button" [value]="-1">Cả hai</mat-radio-button>
                <mat-radio-button class="example-radio-button" [value]="1">Thu</mat-radio-button>
                <mat-radio-button class="example-radio-button" [value]="0">Chi</mat-radio-button>
            </mat-radio-group>
            <button class="btn-filter my-btn" (click)="loadData()">Lọc Dữ Liệu</button>
            <button class="btn-filter my-btn">Xuất Báo Cáo</button>
            <button class="btn-filter my-btn" data-toggle="modal" data-target="#changeMoneyToWallet">Chuyển tiền trong
                ví</button>
            <button class="btn-filter my-btn" routerLink="/moneyManage/wallet">Quản lí danh mục</button>
        </div>
        <ul class="list-group">
            <li class="list-group-item active"><i><strong>Thông tin tổng quan</strong></i></li>
            <li class="list-group-item">Tổng thu: {{formatNumber(tongThu)}} VND</li>
            <li class="list-group-item">Tổng chi: {{formatNumber(tongChi)}} VND</li>
            <li class="list-group-item" [class.text-danger]="tongThu < tongChi">Số dư cuối kì:
                {{formatNumber(tongThu - tongChi)}} VND</li>
            <li class="list-group-item">Từ ngày: {{convertDateToStrView(dateFilterFrom)}}</li>
            <li class="list-group-item">Đến ngày: {{convertDateToStrView(dateFilterTo)}}</li>
        </ul>
    </div>
    <div class="col-lg-8 col-sm-12">
        <ng-template ngFor let-item [ngForOf]="data" let-i="index">
            <div class="card mb-12" style="width: 100%;">
                <div class="card-header text-white" [class.bg-primary]="item.categories.type==1"
                    [class.bg-danger]="item.categories.type==0">
                    <strong>{{convertDateToStrView(item.date)}}</strong>
                </div>
                <div class="card-body">
                    <h6 class="card-title">
                        {{item.categories.name}} - {{item.categories.wallet.name}}
                    </h6>
                    <p class="card-text">{{item.content}}</p>
                </div>
                <div class="card-footer">
                    {{formatNumber(item.money)}} VND
                    <button class="btn btn-sm btn-danger" (click)="handleDeleteData(item.key)">Xóa giao dịch</button>
                </div>
            </div>
        </ng-template>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="changeMoneyToWallet" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Chuyển tiền trong ví</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <label for="">Ví tiền gốc</label>
                        <select [(ngModel)]="walletOrigin" [ngModelOptions]="{standalone: true}" class="form-control">
                            <option value="{{item.key}}" *ngFor="let item of listWallets">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Ví tiền cần chuyển</label>
                        <select [(ngModel)]="walletChange" [disabled]="walletOrigin == undefined" [ngModelOptions]="{standalone: true}" class="form-control">
                            <option value="{{item.key}}" [disabled]="item.key == walletOrigin" *ngFor="let item of listWallets">{{item.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Số tiền</label>
                        <input class="form-control" [(ngModel)]="moneyChangeWallet" [ngModelOptions]="{standalone: true}" type="text" >
                    </div>
                    <div class="form-group">
                        <label for="">Ghi chú</label>
                        <input class="form-control" [(ngModel)]="noteChangeWallet" [ngModelOptions]="{standalone: true}"  type="text" >
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="handleChangeMoney()">Save changes</button>
            </div>
        </div>
    </div>
</div>