input, select, button {
    font-size: 14px !important;
    /* border: none; */
    /* border-bottom: #000000 solid 1%; */
}

label {
    font-weight: bold;
}

input:focus {
    /* border-color: inherit; */
  -webkit-box-shadow: none;
  box-shadow: none;
}

.card {
    margin: 10px
}

#title {
    text-align: center;
    font-weight: bold;
    color: #b1b1b1;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background: #3668B0;
    color: white;
}

.table_todolist {
    /* border: 2px solid black; */
    /* box-shadow: 7px 7px grey; */
    border-collapse: collapse;
  /* border-radius: 2em; */
}

thead tr{
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #C9D1D7;
    background-color: #3668B0;
}
td, th{
    border: 2px solid #C9D1D7;
}

.table_checkbox {
    text-align: center;
    background: #DEDFE2;
}

.table_proccess {
    background: #D4F9D2;
}

.mt_form_add_todolist, .mt_form_category {
    display: flex;
    flex-direction: column;
}

.mt_form_add_todolist > *, .mt_form_category > * {
    width: 100%;
}

mat-radio-button {
    margin: 5px;
}

::ng-deep .cdk-overlay-container {
    position: fixed !important;
    z-index: 100000 !important; /* set value you need */
}

.my-btn {
    border-radius: 30px;
    color: white !important;
    background-color: #3668B0;
}

.my-btn:hover {
    color: #CCCCCC !important;
    background-color: #336699;
    box-shadow: 2px 2px grey;
}

.btn-filter {
    margin: 5px;
    font-size: small;
}

.card-body, .card-header, .card-footer {
    padding: 0.25rem 0.5rem;
}

.active {
    background-color: #3668B0;
    border: #3668B0;
}

.modal-header{
    padding: 0.3rem 0.3rem !important;
    border-bottom: 1px solid #1c3956 !important;
    color: #ffffff !important;
    background-color: cadetblue !important;
}

.btn-sm {
    margin-left: 2%;
    margin-right: 2%;
}
