<h3 id="title-page">QUẢN LÍ GHI CHÚ CÁ NHÂN</h3>

<div class="container">
  <div class="button-group">
      <a routerLink="/home" class="btn btn-sm btn-primary">Trở về trang chủ <i class="fas fa-home"></i></a> -
      <a routerLink="/to-do-list" class="btn btn-sm btn-primary"><i class="fas fa-chevron-circle-left"></i> Trở về trang trước</a> - 
      <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add-note"><i class="fas fa-database"></i> Thêm công việc mới</button>
  </div>
  <table class="table table-bordered table-striped table-hover" id="to-do-list">
    <thead class="bg-info text-white">
      <tr>
        <th scope="col">No</th>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <th scope="col">Created at</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let val of datas">
        <td>{{ val.note_id }}</td>
        <td><i class="fas fa-sticky-note"></i> {{ val.title }}</td>
        <td><i class="fas fa-calendar-alt"></i> {{ val.date | date:'dd/MM/yyyy' }}</td>
        <td><i class="fas fa-calendar-alt"></i> {{ val.created_at | date:'dd/MM/yyyy HH:mm:ss' }}</td>
        <td>
          <button type="button" class="btn btn-primary btn-edit" data-toggle="modal" data-target="#edit-note" (click)=" handleShowOneWork(val.note_id)">
            <i class="fas fa-edit"></i> Edit
          </button> - 
          <button type="button" class="btn btn-danger btn-delete" (click)=" handleDeleteWork(val.note_id)">
            <i class="fas fa-trash"></i> Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal -->
  <div class="modal fade" id="add-note" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thêm công việc mới</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="">Tiêu đề</label>
              <input 
                class="form-control" 
                type="text" 
                [(ngModel)]="title" 
                [ngModelOptions]="{standalone: true}"/>
            </div>
            <div class="form-group">
              <label for="">Nội dung</label>
              <ckeditor 
                [editor]="Editor" 
                data="" 
                [(ngModel)]="content" 
                [ngModelOptions]="{standalone: true}">
              </ckeditor>
            </div>
            <div class="form-group">
              <label for="">Ngày hết hạn</label>
              <input 
                type="date" 
                class="datepicker form-control" 
                [(ngModel)]="date" 
                [ngModelOptions]="{standalone: true}" />
            </div>
            <div class="form-group">
              <label for="">Mức độ</label>
              <select 
                class="form-control" 
                [(ngModel)]="level" 
                [ngModelOptions]="{standalone: true}">
                <option 
                  value="{{ level.level_id }}" 
                  *ngFor="let level of level_list">
                  {{ level.level_name}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="">Sắp xếp</label>
              <input 
                class="form-control" 
                value="-1" 
                type="number"
                [(ngModel)]="order"
                [ngModelOptions]="{standalone: true}"/>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="handleAddWork()" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="edit-note" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa công việc</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="">Tiêu đề</label>
              <input 
                class="form-control" 
                type="text" 
                [(ngModel)]="title_edit" 
                [ngModelOptions]="{standalone: true}"/>
            </div>
            <div class="form-group">
              <label for="">Nội dung</label>
              <ckeditor 
                [editor]="Editor_edit" 
                data="" 
                [(ngModel)]="content_edit" 
                [ngModelOptions]="{standalone: true}">
              </ckeditor>
            </div>
            <div class="form-group">
              <label for="">Ngày hết hạn</label>
              <input 
                type="date" 
                class="form-control" 
                [(ngModel)]="date_edit" 
                [ngModelOptions]="{standalone: true}" />
            </div>
            <div class="form-group">
              <label for="">Mức độ</label>
              <select 
                class="form-control" 
                [(ngModel)]="level_edit" 
                [ngModelOptions]="{standalone: true}">
                <option 
                  value="{{ level.level_id }}" 
                  *ngFor="let level of level_list" 
                  [selected]="level.level_id==level_edit"
                  >
                    {{ level.level_name}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="">Sắp xếp</label>
              <input 
                class="form-control" 
                value="-1" 
                type="number"
                [(ngModel)]="order_edit"
                [ngModelOptions]="{standalone: true}"/>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="handleEditWork()" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>