.card {
    margin: 10px
}

#title-page {
    text-align: center;
    font-weight: bold;
    color: #b1b1b1;
}

/* .modal{
    display: block !important; /* I added this to see the modal, you don't need this
} */

/* Important part */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 400px;
    overflow-y: auto;
}